@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yb5lhx");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yb5lhx#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yb5lhx")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yb5lhx")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yb5lhx##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-category {
  &:before {
    content: $icon-category;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-work {
  &:before {
    content: $icon-work;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-attach-file {
  &:before {
    content: $icon-attach-file;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-success {
  &:before {
    content: $icon-success;
  }
}
.icon-web {
  &:before {
    content: $icon-web;
  }
}
