$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: $fonts-folder !default;

$icon-chevron-up: "\e908";
$icon-chevron-down: "\e907";
$icon-category: "\e904";
$icon-file: "\e905";
$icon-work: "\e906";
$icon-close: "\e900";
$icon-arrow-right: "\e925";
$icon-chevron-left: "\e927";
$icon-chevron-right: "\e928";
$icon-email: "\e929";
$icon-facebook: "\e92a";
$icon-linkedin: "\e92b";
$icon-location: "\e92c";
$icon-menu: "\e92d";
$icon-phone: "\e92e";
$icon-twitter: "\e92f";
$icon-attach-file: "\e901";
$icon-calendar: "\e902";
$icon-warning: "\e903";
$icon-error: "\e909";
$icon-info: "\e90a";
$icon-success: "\e90b";
$icon-web: "\e90c";
