@mixin section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 387px;
  height: 130px;
  left: 121px;
  top: 202.9px;

}

.table {
  margin-top: 10px;

  table {
    .top_tr{
      width: 387px;
      height: 38.31px;
      flex: none;
      order: 0;
      flex-grow: 0;
      display: none;
    }
    thead {
      tr {

        th {
          width: 387px;
          height: 38.31px;
          background: #FFFFFF;
        }
      }
    }
    .tr2{
      background-color: #FFFFFF;

    }
  }
}