.contact-form-section {
	padding-bottom: 40px;
	margin-top: -120px;
	overflow: hidden;
	padding-bottom: 140px;

	.container {
		position: relative;
		z-index: 0;
	}

	.get-a-quote-img {
		@include position($top: 120px, $right: -74px);
		width: 57%;
		z-index: -1;
		display: block;
	}

	.contact-form {
		max-width: 740px;
		padding: 65px 75px 60px;
		border-radius: $br-sm;
		background: $color-white;
		box-shadow: 10px 13px 46px 0px rgba(51,124,188,0.21);
		overflow: hidden;
		position: relative;
	}

	form {

		&.hidden {
			opacity: 0;
		}
	}
}

.success-message {
	display: flex;
	align-items: center;
	justify-content: center;
	@include position($top: 0, $left: 0);
	background: $color-white;
	width: 100%;
	height: 100%;
	padding: 50px 30px;

	&-content {
		max-width: 440px;
		text-align: center;
	}

	img {
		width: 180px;
		margin: 0 auto;
	}

	h3 {
		margin: 65px 0 40px;
	}

	&.light {
		background: none;
		color: $color-white;
		padding: 100px 0 40px;
	}
}

.projects-section {
	background: $color-text;

	h2 {
 		color: $color-white-30;

 		span {
 			color: $color-white;
 		}
 	}

	.portfolio-list {

		> li {
			width: calc((100% - 60px) / 3);
			height: 320px;

			> a {
				padding: 20px 30px;

				&:hover {

					.name {
						margin-top: 90px;
					}
				}
			}

			.name {
				font-size: 24px;
				line-height: 34px;
				margin-top: 120px;
			}

			.description {
				font-size: 16px;
				line-height: 24px;
				margin-top: 15px;
			}
		}
	}
}