.services {
	text-align: center;
	
	ul {
		display: flex;
		flex-wrap: wrap;

		li {
			display: block;
		}

		a {
			display: flex;
			flex-direction: column;
			padding: 40px;
			height: 100%;
		}

		.img-wrap {
			margin: 0 auto 30px;
			display: inline-block;

			img {
				width: 60px;
			}
		}

		p {
			line-height: 22px;
		}
	}

	&-main {
		padding-bottom: 30px;
		position: relative;

		&:before {
			content: "";
			@include position($top: 0, $left: 0);
			width: 100%;
			height: 100%;
			@include bg-img($image: 'circles-pattern-blue.svg', $repeat: no-repeat, $size: 80%, $position: center bottom);
			z-index: -1;
		}

		ul {
			justify-content: space-between;
			margin-top: -130px;

			li {
				width: calc((100% - 70px) / 3);
				margin-bottom: 35px;
			}

			a {
				background: $color-white;
				border-radius: $br-sm;
				box-shadow: 10px 13px 46px 0px rgba(51, 124, 188, .2);
				padding-bottom: 50px;

				&:hover {
					box-shadow: 12px 16px 55px 0px rgba(51, 124, 188,.35);
				}
			}
		}
	}

	&-home {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		color: $color-white;
		position: relative;
		z-index: 0;

		&:after {
			content: "";
			@include position($top: 0, $left: 0);
			width: 100%;
			height: 100%;
			z-index: -1;
			background: linear-gradient(rgba($color-text, .85), rgba($color-text, .85));
		}
		
		ul {
			border-top: 1px dashed rgba($color-white, .2);
			border-left: 1px dashed rgba($color-white, .2);

			li {
				min-height: 365px;
				width: calc((100% - 1px) / 3);
				border-right: 1px dashed rgba($color-white, .2);
				border-bottom: 1px dashed rgba($color-white, .2);
			}

			a {
				padding-bottom: 20px;

				&:hover {
					background: rgba(#000, .65);

					i {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}

			i {
				margin-top: auto;
				font-size: $font-size-base;
				opacity: 0;
				transition: $trns-duration-lg ease-in-out;
				transform: translateX(-10px);
			}
		}
		
		.view-all-btn {
			margin-top: 45px;
		}
	}
}

.how-we-work {
	position: relative;
	overflow: hidden;

	&:after,
	&:before {
		content: "";
		@include position($top: 0);
		height: 100%;
		width: calc((100% - 1360px) / 2);
		z-index: 1;
	}

	&:after {
		right: 0;
		background: linear-gradient(to left, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0) 100%);
	}

	&:before {
		left: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0) 100%);
	}

	.section-title {
		margin-left: 35px;
		text-align: left;
	}
	.slick-track {
		display: flex;
	}

	.slick-list {
		overflow: visible;
	}

	.slide {
		height: auto;
		display: flex;
		flex-direction: column;
		padding-left: 35px;

		h3 {
			color: $color-primary-dark;
			margin-bottom: auto;
			text-transform: uppercase;
			max-width: 270px;
		}

		ul {
			margin-top: 20px;
			max-width: 50%;

			li {
				padding: 10px 20px 10px 30px;
				font-size: $font-size-sm;
				position: relative;
				min-height: 50px;
				display: flex;
				align-items: center;

				&:first-child {
				
					&:before {
						content: none;
					}
				}

				&:last-child {
				
					&:after {
						content: none;
					}
				}

				.dot {
					display: inline-block;
					width: 12px;
					height: 12px;
					border-radius: $br-rounded;
					background: $color-primary-dark;
					@include center(vertical);
					left: 0;
				}
				
				&:before,
				&:after {
					content: "";
					display: inline-block;
					width: 1px;
					height: 50%;
					border-left: 1px dashed $color-primary-dark;
				}

				&:before {
					@include position($top: 2px, $left: 6px);
				}

				&:after {
					@include position($bottom: 0, $left: 6px);
				}
			}
		}

		img {
			width: 225px;
			min-width: 225px;
			height: 165px;
			margin-bottom: 20px;
		}

		.number {
			width: 100px;
			height: 100px;
			border: 18px solid rgba($color-primary-light, .2);
			border-radius: $br-rounded;
			margin-left: -35px;

			span {
				background: $color-primary-light;
				font-size: 45px;
				display: inline-block;
				text-align: center;
				color: $color-primary-dark;
				line-height: 62px;
				width: 64px;
				height: 64px;
				border-radius: $br-rounded;
				font-weight: $fw-700;
			}
		}
	}

	.slider-border {
		width: 100%;
		height: 3px;
		background: $color-primary;
		@include position($bottom: 140px, $left: 0);
		z-index: -1;

		&:before {
			content: "";
			@include center(vertical);
			left: 0;
			height: 100px;
			width: calc((100% - 1330px) / 2);
			background: linear-gradient(to right, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0) 100%);
		}
	}
}