.bg-gray {
  background-color: #F7F7F7;
  width: 100%;
}

.footer {
  padding: 60px 0 60px 0;
  background-color: #F7F7F7;


  .border_line {
    width: 100%;
    height: 1px;
    background-color: #F1F1F1;
  }

    li:first-child {
      font-weight: 600;
      margin-bottom: 20px;
    }

    li a:link, li a:visited {
      color: black;
    }

    li a:hover {
      background-color: #0A46E4;
      border-radius: 5px;
      color: #FFFFFF;
    }

    a {
      display: block;
      padding: 10px 0 10px 5px;
    }

    h3 {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 600;
    }

    .contact li:first-child {
      padding-bottom: 10px;
    }

    .contact li:nth-child(2) {
      margin: 0!important;
  }

    .contact li:not(:last-child){
      margin-bottom: 20px;
    }
  }

  .payment {
    margin-top: 40px;
  }

  .payment_icons {
    padding-bottom: 60px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      margin-bottom: 0!important;
    }

    a {
      padding: 0!important;
      background: none!important;
    }
  }


  .input_list {
    p {
      padding: 25px 0 0 0;
      width: 200px;
      height: 200px;
    }

    .search_input {
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      padding-bottom: 10px;

      input {
        background-color: #F7F7F7;
        height: 30px;
        outline: none;
        border: none;
      }

      button {
        width: 26px;
        margin-right: 8px;
        background-color: transparent;
        border: navy;

        img {
          width: 32px;
          height: 25px;

        }

      }

      margin-top: 40px;
    }
  }


  .footer_soc_links {
    margin-top: 50px!important;

    h5 {

      font-size: 14px;
    }

    ul {
      margin: 30px 0;
      gap: 18px;

      li {
        &:first-child {
          margin-bottom: 0!important;
        }

        a {
          img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }

  }


  //footer end
  .footer_end {
    //width: 700px;
    //margin: 0 auto;
    padding-top: 30px;
    gap: 90px;

    li:first-child {
      margin-bottom: 0;
      font-weight: normal;
    }

    a {
      padding-right: 5px;
    }
  }




