.container {

}

.header {
  width: 100%;
  height: 70px;
  padding:28px 40px 28px 40px ;
  border-bottom: 1px solid green;




}

.top_left_content {
  width: 170px;
  height: 70px;
}

.flag_content {
}

.flags {
  font-size: 14px;

  li{
    align-items: center;
    margin: 0 7px 0 0;
  }
  .flag_icon {
    width: 20px;
    height: 10px;
  }
  .drop_down{
    width: 20px;
    height: 20px;
  }
  .drop_up{
    width: 20px;
    height: 20px;
  }
}


//valuta content


.valuta_content{
  font-size: 14px;
  li{
    align-items: center;
    margin: 0 7px 0 0;
  }
  .drop_down{
    width: 20px;
    height: 20px;
  }
  .drop_up{
    width: 20px;
    height: 20px;
  }






}
//site_logo
.site_logo{

    img{
      width: 152px;
    }
 }




//top_right_content

.top_right_content{
  ul
  {
    gap: 34px;
  }
}


.top_right_content{
  width: 342px;
  font-size: 14px;
li{
  gap: 8px;
}

  img{
    width: 16px;
    height: 14px;
  }
}