
.header {
  height: 70px;
  padding: 28px 0;
  box-shadow: 10px 10px 10px #F6F6F6;
}

.top_left_content {
  width: 170px;
  height: 70px;
}

.flag_content {
  position: relative;
}


.flag {
  display: flex;
  align-items: center;
  cursor: pointer;


  .flag_icon {
    width: 20px;
    height: 10px;
    margin-right: 8px;
  }

  .drop_down {
    width: 20px;
    height: 20px;
  }

  .drop_up {
    width: 20px;
    height: 20px;
  }
}


.flags {
  z-index: 1;
  font-size: 14px;
  width: 190px;
  position: absolute;
  top: 30px;
  box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75);
  background-color: white;

  li {
    padding: 15px;

    &:hover {
      background-color: gold;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #F6F6F6;
    }
  }
}


//valuta content
.valuta_content {
  font-size: 14px;

  li {
    align-items: center;
    margin: 0 7px 0 0;
  }

  .drop_down {
    width: 20px;
    height: 20px;
  }

  .drop_up {
    width: 20px;
    height: 20px;
  }

}

//site_logo
.site_logo {
    width: 152px;
}


//top_right_content

.top_right_content {
  ul {
    gap: 34px;
  }
}

.top_right_content {
  width: 342px;
  font-size: 14px;

  li {
    gap: 8px;
  }

  img {
    width: 16px;
    height: 14px;
  }
}