.products_manu-content {
  position: relative;
  padding: 0 40px;
  top: 80px;
}

.products_manu {
  font-size: 14px;
  height: 60px;
}

.navbar {
  .navbar_ul {
    gap: 24px;
      img {
        width: 20px;
        height: 20px;
      }
  }

  li:hover {
    background-color: rgb(138, 133, 108);
  }

}

.searching {
  position: relative;
}

  .searching-icon {
    width: 18px;
    height: 18px;
}

.switch {
  width: 70px;
}

//navbar 2
.navbar2 {
  height: 420px;
  width: 100%;
  background: #FFFFFF;
}

.gold-jewelry {
  margin-right: 183px;

    a:link, a:visited {
      text-decoration: none;
      display: block;
      padding: 5px 15px;
      color: black;

      &:hover {
        background-color: gold;
        border-radius: 5px;
        color: #FFFFFF;
      }

    }
    
// margin-top: 15px;
    li:first-child {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

.openning-navbar {

  padding-top: 30px;

  border-top: 1px solid #1D3865;
  position: absolute;
  top: 50px;
   width: 100%;
  background-color: #FFFFFF;

  ul {
    width: 184px;
    margin-right: 54px;
  }

  // width: 100%;

  .presentImg {
    width: 488px!important;
    height: 300px!important;
  }
}


  .search_modal_open{
    padding: 30px;
    background-color: #F7F7F7;
    position: absolute;
    top: 40px;
    left: -820px;
    width: 700px;
    height: 300px;
    input{
      width: 100%;
      background-color: #F7F7F7;
      height: 40px;
      padding: 22px 30px;
      border: 0.5px solid;
    }
    .a{

    }
    button{
      left: -100px;
    }
    span{

    }
    .searching-icon{
      margin-left: -60px;
    }
    .searching_block_text{
      img{
        width: 24px;
        height: 24px;

      }
    }
  }



















