.navbar {
  width: 100%;
  height: 70px;
  padding: 28px 40px 28px 40px;
  font-size: 14px;

  .navbar_ul {
    gap: 24px;

    li {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .searching {

    ul {
      gap: 8px;

      li {
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}



//navbar 2
.navbar2{
  .silver-jewelry{

  }
ul{
   justify-content: space-between;
  align-items: center;
  li{
    justify-content: space-between;
    align-items: center
  }
}
}
