.container_price {
  margin: 0 auto;
  width: 1200px;
  background-color: #F6F6F6;
  padding-top: 30px;
  margin-bottom: 20px;


  .container_price2 {
    margin-top: 80px;
  }
}

.container_phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;

  .viber {
    width: 22px;
    height: 22px;
}

.phone_info {
  display: flex;
  align-items: center;
}

.phone_icons {
  display: flex;
  img {
    margin-right: 15px;

  }
}

.whatsApp {
  width: 24px;
  height: 24px;
}

}

.table-price {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;

  th {
    background-color: white;
    text-align: left;
    color: #808080;
  }

  th,td {
    padding: 12px 30px;
  }

  td {
    color: #000;
    font-weight: 600;
  }
}

.large-width {
  width: 300px;
}