//import utilities
@import "utilities/index";
//
////import assets
//@import "assets/index";
//
//import base
@import "base/index";

////import components
//@import "components/index";
//
//import elements
@import "elements/index";
//
////import pages
//@import "pages/index";
//
////import responsive
//@import "responsive/index";
//
//
//.footer_text {
//    color: red;
//}