@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100&display=swap');

.container_phone {
  width: 1195px;
  height: 24px;
  left: 120px;
  margin-top: 24px;
  display: flex;

  .phone_info {
    width: 204px;
    height: 24px;
    left: 120px;
    top: 168px;
    display: flex;
    gap: 14px;

    .icon {
      width: 59px;
      height: 24px;
      left: 120px;
      top: 168px;
      display: flex;
      gap: 14px;

      img {
        width: 24px;
        height: 24px;
        left: 155px;
        top: 168px;

      }
    }

    p {

      margin-top: 5px;
      height: 14px;
      left: 192px;
      font-family: 'Mardoto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height, or 100% */

      text-align: right;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #000000;

    }

  }

  span {
    position: absolute;
    width: 80px;
    height: 14px;
    left: 1121px;
    font-family: 'Mardoto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #000000;

  }

}