// Custom animations
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate3d(-20px, 0, 0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(20px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes zoomOut {
	0% {
		transform: scale(1.15, 1.15) translateZ(100px);
	}
	100% {
		transform: scale(1, 1) translateZ(0);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1.15, 1.15);
	}
}

@keyframes zoomInImg {
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1.4, 1.4);
	}
}

// .zoom-in-img {
// 	animation: zoomIn 10s both .2s;
// }

// AOS plugin custom animations
[data-aos=slideUp] {
	transform: translate3d(0,100px,0);
}

@keyframes slideOutLeft {
	0% {
		width: 100%;
	}
	30% {
		width: 70%;
	}
	100% {
		width: 0;
	}
}

@keyframes slideInTopRight {
	0% {
		transform: rotate(30deg) translateY(-100%);
	}
	100% {
		transform: rotate(30deg) translateY(0%);
	}
}

@keyframes imgMove {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}