.form-element {
	width: 100%;
	margin-bottom: 20px;

	input, 
	textarea {
		border-radius: $br-sm;
		background: $color-white;
		border: none;
		color: $color-text;
		font-size: $font-size-base;
		width: 100%;

		@include placeholder {
			color: $color-text-50;
		}
	}

	input {
		line-height: 20px;
		padding: 16px 25px;
	}

	textarea {
		line-height: 22px;
		padding: 16px 25px;
		height: 100px;
	}

	&.bordered {

		input, 
		textarea {
			border: 1px solid $color-text-30;
			transition: $trns-duration;

			&:focus {
				border-color: $color-text-70;
			}
		}
	}

	&.has-error {
		position: relative;

		input {
			padding-right: 40px;
		}

		&:after {
			content: $icon-warning;
			font-family: $font-icomoon;
			@include position($top: 16px, $right: 12px);
			font-size: $font-size-md;
			line-height: 20px;
			color: $color-error;
		}

		&.bordered {

			input, 
			textarea {
				border-color: $color-error;
			}

			&:after {
				content: none;
			}
		}
	}
}

.error-msg {
	font-style: italic;
	font-size: $font-size-xs;
	margin-top: 8px;
	color: $color-error;

	&.with-icon {

		i {
			margin-right: 5px;
		}
	}

	&.light {
		color: $color-white-60;
	}
}