body {
  // color: $color-text;
  // font-size: $font-size-base;
  // line-height: 1.5;
  // font-family: $font-primary;
  // font-weight: $fw-400;
  // background: $color-white;
  position: relative;
  word-wrap: break-word;
}

.container-top {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  // width: 100%;
  // max-width: 1360px;
  // margin: 0 auto;
  // padding: 0 15px;
  // outline: 1px solid red;

  // &.full {
  //   max-width: 100%;
  // }

  // &.md {
  //   max-width: 1080px;
  // }

  // &.sm {
  //   max-width: 615px;
  // }
}

// Headings
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $font-secondary;
//   font-weight: $fw-700;
//   line-height: 1.3;
// }

// h1 {
//   font-weight: $fw-800;
//   font-size: $font-size-xxl;

//   &.sm {
//     font-weight: $fw-700;
//     font-size: 54px;
//   }
// }

// h2 {
//   font-size: $font-size-xl;
//   text-transform: uppercase;

//   &.lg {
//     font-size: 48px;
//   }
// }

// h3 {
//   font-size: $font-size-lg;
// }

// h4 {
//   font-size: $font-size-md;
//   line-height: 30px;
// }

// h5 {
//   font-size: $font-size-base;
// }

