//// Colors
//@each $key, $val in $colors {
//  .color-#{$key} {
//    color: #{$val};
//  }
//}
//
//// Backgrounds
//@each $key, $val in $backgrounds {
//  .bg-#{$key} {
//    background: #{$val};
//  }
//}
//
//// Width
//$step: 5;
//@while $step <= 100 {
//  .width-#{$step} {
//    width: #{$step} + unquote('+ "%"') !important;
//  }
//  $step: $step + 5;
//}
//
//// Height
//$step: 5;
//@while $step <= 100 {
//  .height-#{$step} {
//    height: #{$step} + "%" !important;
//  }
//  $step: $step + 5;
//}
//
//// Font size
//@each $key, $val in $font_sizes {
//  .font-#{$key} {
//    font-size: #{$val} !important;
//  }
//}
//
//// Font weight
//@each $key, $val in $font_weights {
//  .fw-#{$key} {
//    font-weight: #{$val};
//  }
//}
//
//// Opacity
//$step: 1;
//@while $step <= 9 {
//  .opacity-#{$step*10} {
//    opacity: #{$step/10};
//  }
//  $step: $step + 1;
//}
//
//// Fixes
//.clearfix {
//  @include clearfix;
//}

.white {
  background-color: #F7F7F7;
}

.gray {
  background-color: #F1F1F1;
}

.bg {
  background: no-repeat center/cover;
}

.width_100 {
  width: 100%!important;
}

.text-center {
  text-align: center;
}
//
//.text-left {
//  text-align: left;
//}
//
//.text-right {
//  text-align: right;
//}
//
//.valign-middle {
//  vertical-align: middle;
//}
//
//.valign-top {
//  vertical-align: top;
//}
//
//.valign-bottom {
//  vertical-align: bottom;
//}
//
//.text-lowercase {
//  text-transform: lowercase;
//}
//
//.text-uppercase {
//  text-transform: uppercase;
//}
//
//.text-capitalize {
//  text-transform: capitalize;
//}
//
//.no-transform {
//  text-transform: none;
//}
//
//.font-italic {
//  font-style: italic;
//}
//
//// Display
//.display-inline-block {
//  display: inline-block;
//}
//
//.display-block {
//  display: block;
//}
//
//.display-inline {
//  display: inline;
//}
//

.flex {
  display: flex !important;
}
//
//.inline-flex {
//  display: inline-flex !important;
//}
//
.align-center {
  align-items: center !important;
}

.align-centnt {
  align-content: center;
}
//
//.align-end {
//  align-items: flex-end;
//}
//
.justify-center {
  justify-content: center !important;
}
//
.justify-between {
  justify-content: space-between !important;
}
.bg_color{
  background-color: #F6F6F6;
}
//
//.justify-around {
//  justify-content: space-around !important;
//}
//
//.justify-start {
//  justify-content: flex-start !important;
//}
//
//.justify-end {
//  justify-content: flex-end !important;
//}

// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap_20 {
  gap: 20px;
}

.gap_8 {
  gap: 8px
}

.gap_10 {
  gap: 10px;
}

.dir-col {
  flex-direction: column;
}
//
//.grow-1 {
//  flex-grow: 1;
//}
//
//.shrink-0 {
//  flex-shrink: 0;
//}
//
//// Pointer events
//.cursor-pointer {
//  cursor: pointer;
//}
//
//// Gradient
//.gradient-primary {
//  background: linear-gradient(
//    135deg,
//    $color-primary-dark 0%,
//    $color-primary 100%
//  );
//}
//
//// Overlay
//.overlay-bg {
//  position: relative;
//  z-index: 0;
//
//  &:after {
//    content: "";
//    width: 100%;
//    height: 100%;
//    @include position($top: 0, $left: 0);
//    background: rgba($color-text, 0.65);
//    z-index: -1;
//  }
//}
//
//// image
//img {
//  width: 100%;
//  height: auto;
//}
//
//// Postition
.relative {
 position: relative;
}

.absolute {
  position: absolute;
 }
//
//// Overflow
//.overflow-hidden {
//  overflow: hidden;
//}
//
//.overflow-x-hidden {
//  overflow-x: hidden;
//}
//
//// Borders
//.no-border {
//  border: none !important;
//}
//
//.border {
//  border: 1px solid $border-gray;
//}
//
//.border-bottom {
//  border-bottom: 1px solid $border-gray;
//}
//
//.border-top {
//  border-top: 1px solid $border-gray;
//}
//
//.border-left {
//  border-left: 1px solid $border-gray;
//}
//
//.border-right {
//  border-right: 1px solid $border-gray;
//}
//
//// Dividers
//.divider {
//  width: 100%;
//  height: 1px;
//  background: #000;
//  background: $border-gray-dark;
//}
//
//// text overflow
//.ellipsis {
//  @include ellipsis(100%);
//}
//
//.nowrap {
//  white-space: nowrap;
//}
