
* {
  margin: 0;
  padding: 0;
}

$margin-top: 28px;
$margin-left: 34px;
$display:flex;


@mixin flag {
  display: $display;
  width: 64px;
  height: 14px;
  left: 40px;
  top: 20px;
}

@mixin text_flag {
  width: 40px;
  height: 17px;
  margin-left: 6px;
}

@mixin icon_open {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 60px;
}

@mixin icon {

  width: 16px;
  height: 14px;
  left: 78px;
  margin-top: 2px;
  margin-left: 3px;
}
.container {
  display: $display;

  width: 100%;
  .container_top {
    display: flex;
    margin-left: 40px;
    margin-top: $margin-top;
    .flag_container {
      display: $display;
      .flags {
        @include flag;
        .flagImg {
          width: 20px;
          height: 10px;
          margin-top: 4px;
        }
        .language {
          @include text_flag;
        }
        .png {
          @include icon_open;
        }
      }
    }
    .value_container {
      margin-left: $margin-left;
      display: $display;
      .flags {
        @include flag;
        .language {
          @include text_flag;
          margin-left: 25px;
        }
        .png {
          @include icon_open;
          margin-left: 85px;
        }
      }
    }

  }
  .logo {
    width: 208px;
    margin-top: -90px;
    margin-left: 444px
  }
  .container1 {
    display: $display;
    align-items: center;
    gap: 34px;
    position: absolute;
    width: 342px;
    height: 18px;
    left: 1140px;
    top: 26px;
    .icon-login-wishlist {
      display:$display;
      align-items: center;
      gap: 8px;
    }
    .text_and_heart {
      display: flex;
    }
    .icon {
      @include icon;
    }
  }
  &:before {
    position: absolute;
    content: " ";
    width: 100%;
    border: 0.5px solid black;
    height: 1px;
    left: 0px;
    top: 71px;
    background: #1D3865;
    opacity: 0.1;
  }
}

