.add_product_input{
  input{
    width: 359px;
    height: 50px;
    margin-bottom: 20px;
  }
  select{
    width: 359px;
    height: 50px;
    margin-bottom: 20px;
  }
  label{
    margin-bottom: 10px;
  }

}
.product_name_d{
  width: 590px;
  height: 330px;
  background-color: white;
  padding-top: 20px;
}
.product_name_d2{
  margin-top: 30px;
  height: 380px;
  background-color: white;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 20px;

}
.checkbox11{
  width: 359px;
  height: 50px;
  background: #F1F2F3;
  margin-top: 10px;
padding:  0 10px ;
  input{
    width: 20px;
    height: 20px;
    background-color: #F7F7F7;
  }
  img{
    width: 25px;
    height: 25px;
  }
}
.product_name_d_3{
  margin-top: 30px;
  height: 550px;
  background-color: white;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 20px;

}
.lab_chec {
   input{
     margin-left: 20px;
   }
 }
.end_add{
  background-color: white;
  height: 110px;
  padding-left: 110px;
  padding-right: 110px;
  button{
    width: 259px;
    height: 40px;
    left: 1014px;
    top: 1998px;
border: 1px solid #1D3865;
  }
}
.ddd{

  input{

    width: 259px;
    height: 40px;
    left: 1014px;
    top: 1998px;
    border: 1px solid #1D3865;
    padding: 7px 5px;
  }
}
.hitle_h33{
  margin-top: 20px;
}