.show_more_btn {
  height: 40px;
  color: #1D3865;
  border: 1px solid #1D3865;
  border-radius: 2px;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
  display: block;
  height: 50px;

  &:hover{
    background-color: #1D3865;
    color: gold;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

// .btn {
// 	background: none;
// 	border: none;
// 	border-radius: $br-sm;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	text-align: center;
// 	font-weight: $fw-700;
// 	font-family: $font-secondary;
// 	padding: 0 25px;
// 	font-size: $font-size-base;

// 	&.with-icon {
// 		display: inline-flex;
// 		align-items: center;

// 		i {
// 			margin-right: 10px;
// 			font-size: $font-size-lg;
// 		}
// 	}

// 	&-white {
// 		background: $color-white;
// 		color: $color-primary-dark;
// 		box-shadow: 10px 10px 70px 0px rgba(30,64,233, 0.4);

// 		&:hover {
// 			box-shadow: 15px 15px 70px 5px rgba(30,64,233, 0.6);
// 		}
// 	}

// 	&-white-outline {
// 		color: $color-white;
// 		border: 2px solid $color-white;

// 		&:hover {
// 			background: $color-white-20;
// 		}
// 	}

// 	&-black-outline {
// 		color: $color-text;
// 		border: 2px solid $color-text;

// 		&:hover {
// 			background: $color-text-10;
// 		}
// 	}

// 	&.lg {
// 		height: 64px;
// 		line-height: 64px;
// 		min-width: 220px;
// 	}

// 	&.md {
// 		height: 52px;
// 		line-height: 52px;
// 		min-width: 150px;
// 	}
// }


// .more-btn {
// 	display: inline-flex;
// 	align-items: center;
// 	padding: 0 50px 0 30px;
// 	line-height: 55px;
// 	height: 55px;
// 	color: $color-white;
// 	background: $color-text;
// 	border: 1px dashed $color-white-30;
// 	transition: $trns-duration-lg ease-out;

// 	&:hover {

// 		span {
// 			transform: translateX(5px);
// 		}

// 		i {
// 			transform: translateX(15px);
// 		}
// 	}

// 	span {
// 		font-family: $font-secondary;
// 		font-weight: $fw-600;
// 		margin-right: 35px;
// 		transition: $trns-duration-lg ease-in-out;
// 	}

// 	i {
// 		font-size: 17px;
// 		transition: $trns-duration-lg ease-in-out;
// 	}

// 	&.sm {
// 		padding: 0 30px 0 20px;
// 		line-height: 40px;
// 		height: 40px;


// 		&:hover {

// 			span {
// 				transform: translateX(5px);
// 			}

// 			i {
// 				transform: translateX(12px);
// 			}
// 		}

// 		span {
// 			margin-right: 20px;
// 			font-size: $font-size-sm;
// 		}

// 		i {
// 			font-size: 15px;
// 		}
// 	}
// }


// .link {
// 	background: none;
// 	border: none;
// 	text-decoration: none;
// 	font-family: $font-secondary;
// 	font-size: $font-size-base;

// 	&-primary {
// 		color: $color-primary;

// 		&:hover {
// 			color: $color-primary-dark;
// 		}
// 	}

// 	&-white {
// 		color: $color-white;

// 		&:hover {
// 			color: $color-white-70;
// 		}
// 	}

// 	&-inline {
// 		font-family: $font-primary;
// 	}
// }