
.products{
  //gap: 20px;
  .buttonSowMor{
    width: 183px;
    height: 40px;
    img{
      width: 20px;
      height: 20px;
    }
  }
  img{
    display: block;


  }
}
.product{
  .img-title{
    img{
      width: 10px;
      height: 10px;
    }
  }
}

.switch_container{
  width: 1200px;
  margin: 0 auto;


  img{
    width: 387px;
    height: 400px;
  }
}

.switch_product{

}

//button svitch change  centry

.switch_content{

  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;

}





///switch_product
.switch_product{

}