.bg_grey {
  background-color: #F6F6F6;
}

.collection {
  align-items: center;
  padding-bottom: 30px;

  h3 {
    font-size: 32px;
    padding: 10px;
  }

  button {
    margin-top: 50px;
    width: 310px;
  }
}

.badge_collection {
  gap: 45px 20px;
  
  .badge_item {
    width: 285px;

    img {
      width: 100%;
    }

}

.badge_item {

  .badge_item_top {
    top: 12px;
    left: 12px;
    gap: 7px;
  
    .new {
      padding: 5px;
      color: #1D3865;
      border: 1px solid #1D3865;
    }
    
    .discount {
      color: #EB5757;
      padding: 5px;
      border: 1px solid #EB5757;
    }

    img {
      width: 20px;
    }
  }

  }
}

.list_content {
  padding-top: 20px;

  .currentPrice {
    color: #1D3865;
    margin-right: 8px;
  }

  p { 
    margin-top: 12px;
  }
}

