.scrollbar {

	> .ps--active-y {

		> .ps__rail-y {
			opacity: 1 !important;
			width: 5px !important;
		}

		.ps__thumb-y {
			width: 5px !important;
			right: 0;
			transition: $trns-duration;
		}
	}

	>.ps.ps--active-y>.ps__rail-y {
		right: 3px !important;
	}

	&-dark {

		.ps__rail-y {
			background: transparent !important;
		}

		.ps__thumb-y {
			background: $color-text-20 !important;
		}
	}

	&-light {

		.ps__rail-y {
			background: $color-white-10 !important;
		}

		.ps__thumb-y {
			background: $color-white-60 !important;
		}
	}
}