@each $key-spaces, $val-spaces in $spaces {

	.m-#{$key-spaces} {
		margin: #{$val-spaces};
	}

	.mt-#{$key-spaces} {
		margin-top: #{$val-spaces};
	}

	.mr-#{$key-spaces} {
		margin-right: #{$val-spaces};
	}

	.mb-#{$key-spaces} {
		margin-bottom: #{$val-spaces};
	}

	.ml-#{$key-spaces} {
		margin-left: #{$val-spaces};
	}

	.my-#{$key-spaces} {
		margin-top: #{$val-spaces};
		margin-bottom: #{$val-spaces};
	}

	.mx-#{$key-spaces} {
		margin-left: #{$val-spaces};
		margin-right: #{$val-spaces};
	}

	.p-#{$key-spaces} {
		padding: #{$val-spaces};
	}

	.pt-#{$key-spaces} {
		padding-top: #{$val-spaces};
	}

	.pr-#{$key-spaces} {
		padding-right: #{$val-spaces};
	}

	.pb-#{$key-spaces} {
		padding-bottom: #{$val-spaces};
	}

	.pl-#{$key-spaces} {
		padding-left: #{$val-spaces};
	}

	.py-#{$key-spaces} {
		padding-top: #{$val-spaces};
		padding-bottom: #{$val-spaces};
	}

	.px-#{$key-spaces} {
		padding-left: #{$val-spaces};
		padding-right: #{$val-spaces};
	}
	
}

.m-auto {
	margin: auto !important;
}

@each $key-breakpoints, $val-breakpoints in $breakpoints {

	@media (max-width: #{$val-breakpoints}) {

		@each $key-spaces, $val-spaces in $spaces {

			.m-#{$key-breakpoints}-#{$key-spaces} {
				margin: #{$val-spaces};
			}

			.mt-#{$key-breakpoints}-#{$key-spaces} {
				margin-top: #{$val-spaces};
			}

			.mr-#{$key-breakpoints}-#{$key-spaces} {
				margin-right: #{$val-spaces};
			}

			.mb-#{$key-breakpoints}-#{$key-spaces} {
				margin-bottom: #{$val-spaces};
			}

			.ml-#{$key-breakpoints}-#{$key-spaces} {
				margin-left: #{$val-spaces};
			}

			.my-#{$key-breakpoints}-#{$key-spaces} {
				margin-top: #{$val-spaces};
				margin-bottom: #{$val-spaces};
			}

			.mx-#{$key-breakpoints}-#{$key-spaces} {
				margin-left: #{$val-spaces};
				margin-right: #{$val-spaces};
			}

			.p-#{$key-breakpoints}-#{$key-spaces} {
				padding: #{$val-spaces};
			}

			.pt-#{$key-breakpoints}-#{$key-spaces} {
				padding-top: #{$val-spaces};
			}

			.pr-#{$key-breakpoints}-#{$key-spaces} {
				padding-right: #{$val-spaces};
			}

			.pb-#{$key-breakpoints}-#{$key-spaces} {
				padding-bottom: #{$val-spaces};
			}

			.pl-#{$key-breakpoints}-#{$key-spaces} {
				padding-left: #{$val-spaces};
			}

			.py-#{$key-breakpoints}-#{$key-spaces} {
				padding-top: #{$val-spaces};
				padding-bottom: #{$val-spaces};
			}

			.px-#{$key-breakpoints}-#{$key-spaces} {
				padding-left: #{$val-spaces};
				padding-right: #{$val-spaces};
			}

		}

	}

}


.ml-auto {
	margin-left: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

