.Why_Gold_Center {
  width: 1200px;
  margin: 0 auto;


  h1 {
    font-size: 32px;
    color: #000000;
    padding-bottom: 20px;
  }

  p {

    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);

  }
.container_menu{
  gap: 20px;
}
}


//img Why_Gold_Center
.item_menu_div {
  img {
    padding-top: 40px;
    width: 285px;
    height: 285px;
  }

  .item_title {
    span {
      font-size: 22px;
      text-align: center;
      color: #1D3865;
    }

  }

}