@media (max-width: $screen-sm) {

	.bulleted-list {

		li {
			padding-left: 15px;

			&:before {
				left: 0;
			}
		}
	}

	.tag-list {

		margin: -4px;

		li {
			margin: 4px;
			font-size: 14px;
			margin: 4px;
			line-height: 28px;
		}

		&.sm {

			li {
				font-size: 12px;
				line-height: 24px;
				padding: 0 16px;
			}	
		}
	}

}