/*.container {*/
/*    margin-left: 80px;*/
/*    margin-top: 30px;*/
/*    width: 700px;*/
/*    height: 250px;*/
/*    background-color: rgb(27, 27, 69);*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*}*/
.imgGirl {
    width: 340px;
    height: 250px;
}
.aboutUs {
    width: 300px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    color: white;
    padding: 23px;
}
.aboutText {
    font-size: 13px;
}
.aboutBtn {
    width: 80px;
    height: 20px;
    background-color: rgb(209, 182, 29);
    color: white;
    font-size: 8px;
    border: none;
}