.not-found {
	border-bottom: 5px solid #E1E1E1;
	padding-top: 80px;
	height: calc(100vh - 10px);
	max-height: 1080px;
	min-height: 500px;
	
	.container {
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;
	}

	&-img {
		display: block;
		width: calc(100vh - 10px);
		max-width: 90%;

		svg {
			display: block;
		}
	}

	&-text {
		@include position($top: 0, $left: 0);
		z-index: 1;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition-delay: 1.2s;

		h1 {
			margin-bottom: 20px;
		}

		p {
			font-size: 32px;

			a {
				font-size: inherit;
			}
		}
	}
}