.portfolio-single-banner {
	padding-bottom: 120px;
	overflow: hidden;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color-white;
		padding-top: 160px;
		padding-bottom: 160px;
	}

	.banner-content {
		width: 33vw;
		max-width: 630px;
		margin-right: 9vw;
		margin-left: 0;
		padding-top: 65px;
		flex-shrink: 0;

		.logo-wrap {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.logo {
			height: 85px;
			width: auto;
			margin-right: 40px;
			opacity: 0.5;
		}

		.banner-img-mobile {
			display: none;
		}

		p {
			font-size: $font-size-md;
			margin: 40px 0;
		}
	}

	.banner-img {
		margin-bottom: -275px;

		img {
			height: 645px;
			width: auto;
		}
	}
}

.case-study {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.img-wrap {
		width: 45.5%;
		overflow: hidden;

		img {
			margin-left: -95px;
		}
	}

	.text-wrap {
		width: 54.5%;
		padding-right: 15px;
		padding-left: 45px;

		> div {
			max-width: 630px;

			&:first-child {
				margin-bottom: 75px;
			}
		}

		p {
			color: $color-text-70;
			font-size: $font-size-md;
			margin-top: 15px;
		}
	}
}

.colors {
	overflow: hidden;

	.colors-slider {

		.slick-track {
			display: flex;
			align-items: flex-end;
		}

		.slick-list {
			overflow: visible;
		}

		.slide {
			padding-right: 80px;
			text-align: center;

			svg, g, path {
				fill: inherit !important;
			}

			.title {
				font-family: $font-secondary;
				font-size: $font-size-lg;
				font-weight: $fw-500;
			}

			.icon {
				width: 148px;
				height: 148px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 38px auto 30px;

				svg {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}

.icons-illustrations {
	overflow: hidden;

	.container {
		margin-bottom: -30px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 30px;

		li {
			display: flex;
			align-items: center;

			img {
				width: auto;
				max-width: 100%;
			}
		}
	}

	.project-icons {

		li {
			width: 150px;
			height: 150px;
			padding: 25px;
			justify-content: center;
		}
	}

	.project-illustrations {

		li {
			padding: 25px 60px;
			max-width: calc(100% / 3);
			flex-direction: column;
			justify-content: flex-end;
		}

		p {
			margin-top: 15px;
			font-size: 18px;
			opacity: .8;
		}
	}
}

.typography {
	overflow: hidden;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -35px -30px;

		li {
			height: 135px;
			margin: 0 35px 30px;
		}

		img {
			height: 100%;
			width: auto;
		}
	}
}

.main-page {

	.video-wrap {
		border: 10px solid $color-text;
		border-radius: 20px;
		max-width: 80%;
		margin: 0 auto;
		overflow: hidden;
		background-color: $color-text;

		video {
			display: block;
			margin-bottom: -1px;
		}
	}
}

.other-pages {
	overflow: hidden;

	.pages-slider {

		.slick-list {
			padding-left: 150px;
		}

		.slick-track {
			display: flex;
			align-items: center;
		}

		.slide {
			padding: 50px;
			max-width: 80vw;
		}

		img {
			box-shadow: 10px 13px 46px 0px rgba(51,124,188,0.21);
		}
	}
}

.tools {
	overflow: hidden;

	.tool-block {
		display: flex;
		align-items: flex-start;
		margin-bottom: 85px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tool-title {
		font-size: $font-size-lg;
		line-height: 36px;
		font-weight: $fw-600;
		font-family: $font-secondary;
		width: 250px;
		min-width: 250px;
		margin-right: 45px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-align: right;
		min-height: 130px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		margin: 0 -20px -20px 0;

		li {
			margin: 0 20px 20px 0;
			width: 100px;
		}

		.img-wrap {
			padding: 20px;
			background: $color-white;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;
			border-radius: $br-sm;
			border: 1px solid $border-gray-light;

			img {
				width: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}

		p {
			font-size: $font-size-sm;
			text-align: center;
		}
	}
}

.about-project {
	padding: 80px 0;

	.section-title {
		font-size: 30px;
		text-transform: none;
	}

	.description {
		font-size: $font-size-base;
		color: $color-text-70;
		max-width: 630px;
		margin: 20px auto 0;
		text-align: center;
	}

	.btn {
		margin-top: 30px;
	}

	.app-buttons {
		margin-top: 30px;

		p {
			font-style: italic;
			color: $color-text-50;
			text-align: center;
			margin-bottom: 25px;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		li {
			margin: 0 5px;
		}

		a {
			display: block;
			width: 135px;
		}
	}
}

.responsive {

	.container {
		position: relative;
	}

	.img-wrap {
		border: 10px solid $color-text;
		border-radius: 20px;
		overflow: hidden;

		&-desktop {
			width: 76%;
		}

		&-tablet {
			position: absolute;
			bottom: 0;
			z-index: 1;
			width: 40%;
			right: 7%;
		}

		&-phone {
			position: absolute;
			bottom: 0;
			z-index: 2;
			width: 16%;
			right: 0;
		}
	}
}

.features {
	overflow: hidden;

	li {
		margin-bottom: 60px;
		display: flex;
		align-items: center;

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(odd) {

			.img-wrap {
				right: -180px;
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.img-wrap {
				left: -180px;
			}
		}
	}

	.feature {

		&-title {
			font-family: $font-secondary;
			font-size: $font-size-lg;
			font-weight: $fw-700;
			margin-bottom: 20px;
		}

		&-description {
			font-size: $font-size-md;
			color: $color-text-70;
		}
	}

	.text-wrap {
		min-width: 570px;
	}

	.img-wrap {
		border: 10px solid $color-text;
		border-radius: 20px;
		width: 960px;
		min-width: 960px;
		position: relative;
		overflow: hidden;
	}

	&.mobile {

		.img-wrap {
			width: 303px;
			min-width: 303px;
		}

		.text-wrap {
			max-width: 464px;
		}

		li {

			&:nth-child(odd) {

				.text-wrap {
					margin-right: auto;
				}

				.img-wrap {
					right: 0;
				}
			}

			&:nth-child(even) {

				.text-wrap {
					margin-left: auto;
				}

				.img-wrap {
					left: 0;
				}
			}
		}
	}
}
