.portfolio {
	background: $color-text;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;

	> li {
		width: calc((100% - 50px) / 2);
		margin-bottom: 50px;
		height: 490px;
		margin-right: 30px;
		position: relative;
		z-index: 0;
		overflow: hidden;
		border-radius: 4px;

		> a {
			width: 100%;
			height: 100%;
			padding: 40px 50px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			text-align: left;

			&:hover {
				
				.name {
					margin-top: 160px;
				}

				.more-btn {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			@include position($top: 0, $left: 0);
			background: linear-gradient(45deg, rgba(34, 33, 33, 0.8) 0%, rgba(34, 33, 33, 0.31) 100%);
			z-index: -1;
		}

		.img {
			@include position($top: 0, $left: 0);
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			z-index: -2;
		}

		&.aos-animate {

			.img {
				animation: zoomIn 15s both .2s;
			}
		}

		.tag-list {
			justify-content: flex-end;
			@include position($top: 14px, $right: 24px);
		}

		.name {
			font-size: 40px;
			line-height: 47px;
			margin-top: 190px;
			font-family: $font-secondary;
			font-weight: $fw-600;
			transition: $trns-duration-md;
			color: $color-white;

			&:hover {
				color: $color-white-70;
			}
		}

		.description {
			font-size: 18px;
			line-height: 27px;
			margin-top: 20px;
			transition: $trns-duration-md;
			color: $color-white;

			&:hover {
				color: $color-white-70;
			}
		}

		.more-btn {
			margin-top: auto;
			transform: translateX(-20px);
			opacity: 0;
			transition: transform 0.6s ease-out, opacity 0.3s;
		}
	}
}