*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shopping_center_contener{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.shopping_center_list{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sopping_center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    width: 240px;
    height: 293px;
    margin-bottom: 30px;
    border-radius: 7px;
    
}
.sopping_center img{
    width: 219px;
    height: 223px;
}
.shopping_center_region{
    width: 100%;
    height: 100px;
}
.shopping_center_region h2{
    margin-top: 50px;
    margin-left: 10px;
}